TestClientIntermediaryServer/WebContent/wsdl/TestAppService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.mdp.etf.unibl.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.mdp.etf.unibl.org" xmlns:intf="http://service.mdp.etf.unibl.org" xmlns:tns1="http://model.mdp.etf.unibl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.mdp.etf.unibl.org"/>
   <element name="isActive">
    <complexType>
     <sequence>
      <element name="client" type="tns1:Client"/>
     </sequence>
    </complexType>
   </element>
   <element name="isActiveResponse">
    <complexType>
     <sequence>
      <element name="isActiveReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPassengerToCustomsControl">
    <complexType>
     <sequence>
      <element name="client" type="tns1:Client"/>
      <element name="document" type="tns1:Document"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPassengerToCustomsControlResponse">
    <complexType/>
   </element>
   <element name="passengerPassedPoliceControl">
    <complexType>
     <sequence>
      <element name="passengerId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="passengerPassedPoliceControlResponse">
    <complexType>
     <sequence>
      <element name="passengerPassedPoliceControlReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="passengerPassedCustomsControl">
    <complexType>
     <sequence>
      <element name="passengerId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="passengerPassedCustomsControlResponse">
    <complexType>
     <sequence>
      <element name="passengerPassedCustomsControlReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPassengerToPoliceControl">
    <complexType>
     <sequence>
      <element name="client" type="tns1:Client"/>
      <element name="passengerId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addPassengerToPoliceControlResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.mdp.etf.unibl.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Client">
    <sequence>
     <element name="entryId" nillable="true" type="xsd:string"/>
     <element name="police" type="xsd:boolean"/>
     <element name="terminalId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Document">
    <sequence>
     <element name="document" nillable="true" type="xsd:base64Binary"/>
     <element name="passengerId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addPassengerToCustomsControlResponse">

      <wsdl:part element="impl:addPassengerToCustomsControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="passengerPassedCustomsControlRequest">

      <wsdl:part element="impl:passengerPassedCustomsControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="passengerPassedCustomsControlResponse">

      <wsdl:part element="impl:passengerPassedCustomsControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPassengerToPoliceControlResponse">

      <wsdl:part element="impl:addPassengerToPoliceControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isActiveResponse">

      <wsdl:part element="impl:isActiveResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPassengerToCustomsControlRequest">

      <wsdl:part element="impl:addPassengerToCustomsControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="passengerPassedPoliceControlResponse">

      <wsdl:part element="impl:passengerPassedPoliceControlResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addPassengerToPoliceControlRequest">

      <wsdl:part element="impl:addPassengerToPoliceControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isActiveRequest">

      <wsdl:part element="impl:isActive" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="passengerPassedPoliceControlRequest">

      <wsdl:part element="impl:passengerPassedPoliceControl" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestAppService">

      <wsdl:operation name="isActive">

         <wsdl:input message="impl:isActiveRequest" name="isActiveRequest">

       </wsdl:input>

         <wsdl:output message="impl:isActiveResponse" name="isActiveResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPassengerToCustomsControl">

         <wsdl:input message="impl:addPassengerToCustomsControlRequest" name="addPassengerToCustomsControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPassengerToCustomsControlResponse" name="addPassengerToCustomsControlResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="passengerPassedPoliceControl">

         <wsdl:input message="impl:passengerPassedPoliceControlRequest" name="passengerPassedPoliceControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:passengerPassedPoliceControlResponse" name="passengerPassedPoliceControlResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="passengerPassedCustomsControl">

         <wsdl:input message="impl:passengerPassedCustomsControlRequest" name="passengerPassedCustomsControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:passengerPassedCustomsControlResponse" name="passengerPassedCustomsControlResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPassengerToPoliceControl">

         <wsdl:input message="impl:addPassengerToPoliceControlRequest" name="addPassengerToPoliceControlRequest">

       </wsdl:input>

         <wsdl:output message="impl:addPassengerToPoliceControlResponse" name="addPassengerToPoliceControlResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestAppServiceSoapBinding" type="impl:TestAppService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isActive">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isActiveRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isActiveResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPassengerToCustomsControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPassengerToCustomsControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPassengerToCustomsControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="passengerPassedPoliceControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="passengerPassedPoliceControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="passengerPassedPoliceControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="passengerPassedCustomsControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="passengerPassedCustomsControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="passengerPassedCustomsControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addPassengerToPoliceControl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPassengerToPoliceControlRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addPassengerToPoliceControlResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestAppServiceService">

      <wsdl:port binding="impl:TestAppServiceSoapBinding" name="TestAppService">

         <wsdlsoap:address location="http://localhost:8080/TestClientIntermediaryServer/services/TestAppService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
